<a href="https://colab.research.google.com/github/dorikim9313/depleyment_file/blob/main/%EC%8B%A4%EC%8A%B5(%EC%8B%A4%EC%8A%B5)_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

###1. 과목의 점수를 리스트에 저장하고, 점수가 70점 이상인 과목 수를 출력
###score = [72,65,88,92,76,53,45,82]

In [ ]:
score = [72,65,88,92,76,53,45,82]

70점 이상인 과목 수 : 5

###2. 시작값과 끝값을 입력 받아서 시작값부터 끝값까지의 전체합,홀수합,짝수합을 구하여라

시작값 : 5
끝값 : 12
5부터 12까지 전체합:68, 홀수합:32, 짝수합:36

###3. 점수 : 85,95,70,50,100 다섯개 점수를 리스트에 저장하고
###90점이상 'Level 1' 80점 이상 'Level 2' 70점이상 'Level 3' 나머지는 'FAIL'로 출력하여라

In [ ]:
score = [85,95,70,50,100]

85점 : Level2
95점 : Level1
70점 : Level3
50점 : FAIL
100점 : Level1

###4. 철수:90점  화사:85점 재민:77점 유리:65점 순신 : 72점
###5명의 점수를 확인해서 학점을 출력하여라
###출력 : 철수는 90점이고 학점은 A 입니다. (5명이 출력)
###90점이상 A 80점이상 B 70점이상 C 60점이상 D 60점 미만 F

90는 90점이고 학점은 A입니다.
85는 85점이고 학점은 B입니다.
77는 77점이고 학점은 C입니다.
65는 65점이고 학점은 D입니다.
72는 72점이고 학점은 C입니다.

###5. 입력한 숫자만큼 막대 그래프를 그리고 0이 입력되면 종료를 하는 프로그램을 작성하시오

입력 받은 숫자만큼 막대 그래프 그리기
정수값 (종료 : 0) --> 6
* * * * * *
정수값 (종료 : 0) --> 15
* * * * * * * * * * * * * * *
정수값 (종료 : 0) --> 2
* *
정수값 (종료 : 0) --> 0
프로그램 종료

###6. 구구단 게임 만들기
###   두 개의 숫자를 랜덤으로 출력하고 두수의 곱하기를 맞추는 게임으로 0을 입력하면 종료

구구단 게임
시작 : 아무키나, 종료 : 0 -->
4 X 7 = 28
정답~~~
시작 : 아무키나, 종료 : 0 -->  2
8 X 4 = 32
정답~~~
시작 : 아무키나, 종료 : 0 -->  2
4 X 8 = 22
너는 그것도 모르냐?~~~
시작 : 아무키나, 종료 : 0 -->  0
구구단 게임 종료

###7.로또게임 만들기

로또 번호 :  2 24 25 32 34 40

###8. 가위바위보 게임 만들기

In [ ]:
#random.choice(list변수) - 리스트 값중에 랜덤하게 한개의 값을 선택

번호를 선택해 주세요 1)가위 2)바위 3)보 -->  1
유저 : 가위 VS 컴퓨터 : 가위  --> 결과 : 비김
계속하시겠습니까? 1)계속 2)종료 --> 1
번호를 선택해 주세요 1)가위 2)바위 3)보 -->  2
유저 : 바위 VS 컴퓨터 : 가위  --> 결과 : 이김
계속하시겠습니까? 1)계속 2)종료 --> 1
번호를 선택해 주세요 1)가위 2)바위 3)보 -->  3
유저 : 보 VS 컴퓨터 : 보  --> 결과 : 비김
계속하시겠습니까? 1)계속 2)종료 --> 2
가위바위보게임 종료